<div class="page login-page">
    <div class="container d-flex align-items-center">
      <div class="form-holder has-shadow">
        <div class="row">
          <!-- Logo & Information Panel-->
          <div class="col-lg-6" >
            <div class="info d-flex align-items-center">
              <div class="content">
                <div class="logo">
                  <h1>Shakti sale</h1>
                </div>
                <p>Welcome.</p>
              </div>
            </div>
          </div>
          <!-- Form Panel    -->
          <div class="col-lg-6 bg-white">
            <div class="form d-flex align-items-center">
              <div class="content">
                <form method="post" class="form-validate" [formGroup]="LoginForm" (ngSubmit)="onSubmit()"  >
                  <div class="form-group">
                    <input id="login-username" formControlName="username" type="text" [(ngModel)]="loginData.username" 
                     [ngClass]="{ 'is-invalid': submitted }" name="loginUsername" required data-msg="Please enter your username" 
                     class="input-material">
                    <label for="login-username" class="label-material">User Name</label>
                  </div>
                  <div class="form-group">
                    <input id="login-password" formControlName="password" type="password"  [(ngModel)]="loginData.password"
                    name="loginPassword" required data-msg="Please enter your password" class="input-material">
                    <label for="login-password" class="label-material">Password </label>
                  </div>
                  <!-- <input type="submit" id="login" class="btn btn-primary" name="Login"> -->
                  <button id="login" class="btn btn-primary">Login</button>
                  <!-- This should be submit button but I replaced it with <a> for demo purposes-->
                </form>
                <!-- <a href="#" class="forgot-pass">Forgot Password?</a> -->
                <br>
                <small></small>
                <!-- <a href="register.html" class="signup">Signup</a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copyrights text-center">
      <p>Design by Ashvin S.
        <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
      </p>
    </div>
  </div>
  