<nav class="side-navbar">
    <!-- Sidebar Header-->    
    <!-- Sidebar Navidation Menus-->
    <span class="heading">Main</span>
    <ul class="list-unstyled">
      <li class="active"><a href="index.html"> <i class="icon-home"></i>Dashbord </a></li>         
      <li><a href="#itemdropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-interface-windows"></i>Item</a>
        <ul id="itemdropdownDropdown" class="collapse list-unstyled ">
          <li><a (click)="menuClick('manageItems',$event)">Manage Items</a></li>
          <li><a (click)="menuClick('CompositeItem',$event)">Composite Item</a></li>
          <li><a (click)="menuClick('ItemGroups',$event)">Item Groups</a></li>
          <li><a (click)="menuClick('Transfer',$event)">Transfer</a></li>
          <li><a (click)="menuClick('wearhouse',$event)">Warehouses</a></li>
        </ul>
      </li>
      <li><a href="#saledropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-interface-windows"></i>Sales</a>
        <ul id="saledropdownDropdown" class="collapse list-unstyled ">
          <li><a href="#">Customers</a></li>
          <li><a href="#">Estimates</a></li>
          <li><a href="#">Sales Order</a></li>
          <li><a href="#">Delievery Challan</a></li>
          <li><a href="#">Invoices</a></li>
          <li><a href="#">Payments received</a></li>
          <li><a href="#">Credit notes</a></li>
          <li><a href="#">E-way bill</a></li>
          <li><a href="#">Qoutation</a></li>              
        </ul>
      </li>
      <li><a href="#purchasedropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-interface-windows"></i>Purchase</a>
        <ul id="purchasedropdownDropdown" class="collapse list-unstyled ">
          <li><a href="#">Vendors</a></li>
          <li><a href="#">Expenses</a></li>              
          <li><a href="#">Purchase quotation</a></li>              
          <li><a href="#">Purchase orders</a></li>              
          <li><a href="#">Bills</a></li>              
          <li><a href="#">Payments Made</a></li>              
          <li><a href="#">Vendors Credit</a></li>              
        </ul>
      </li>                    
      <li><a href="#workorderedropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-interface-windows"></i>Work Ordere</a>
        <ul id="workorderedropdownDropdown" class="collapse list-unstyled ">
          <li><a href="#">Projects</a></li>              
          <li><a href="#">Notes</a></li>              
          <li><a href="#">Files</a></li>              
          <li><a href="#">Target</a></li>                            
        </ul>
      </li>     
      <li><a href="#accountdropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-interface-windows"></i>Account</a>
        <ul id="accountdropdownDropdown" class="collapse list-unstyled ">
          <li><a href="#">Chart of Accounts</a></li>
          <li><a href="#">Banking</a></li>              
          <li><a href="#">GST Filing</a></li>              
        </ul>
      </li>
      <li><a href="index.html"> <i class="icon-home"></i>Report</a></li>
      <li><a href="index.html"> <i class="icon-home"></i>ERM</a></li>
      <li><a href="index.html"> <i class="icon-home"></i>AMC</a></li>
      <!--<li><a href="tables.html"> <i class="icon-grid"></i>Sale </a></li>
      <li><a href="charts.html"> <i class="fa fa-bar-chart"></i>Charts </a></li>
      <li><a href="forms.html"> <i class="icon-padnote"></i>Forms </a></li>-->
      
      <!--<li><a href="login.html"> <i class="icon-interface-windows"></i>Login page </a></li> -->
   </ul> 
   <!--<span class="heading">Extras</span>
    <ul class="list-unstyled">
      <li> <a href="#"> <i class="icon-flask"></i>Demo </a></li>
      <li> <a href="#"> <i class="icon-screen"></i>Demo </a></li>
      <li> <a href="#"> <i class="icon-mail"></i>Demo </a></li>
      <li> <a href="#"> <i class="icon-picture"></i>Demo </a></li>
    </ul>-->
  </nav>